---
import GithubIcon from "../icons/Github.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GlobalIcon from "../icons/Global.astro";
---

<footer>
  <ul>
    <li>
      <a href="http://github.com/frezdev" target="_blank">
        <GithubIcon />
        Github
      </a>
    </li>
    <li>
      <a href="http://linkedin.com/in/frezdev" target="_blank">
        <LinkedinIcon />
        LinkedIn
      </a>
    </li>
    <li>
      <a href="http://frezdev.netlify.app" target="_blank">
        <GlobalIcon />
        Portfolio
      </a>
    </li>
  </ul>
</footer>

<style>
  footer {
    margin-inline: auto;
    margin-top: 5rem;
    display: flex;
    padding-inline: 1rem;
    border-top: 1px solid rgb(var(--accent-light) / 0.1);
    color: rgb(var(--accent-light));
    height: 30dvh;
    justify-content: center;
    width: 800px;
    max-width: calc(100% - 2rem);

    & ul {
      display: grid;
      list-style: none;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
      place-items: center;
      & li {
        text-decoration: none;

        & a {
          color: rgb(var(--accent-light) / 0.6);
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 5px;
          transition: color 0.2s ease-out;

          &:hover {
            color: rgb(var(--accent-light) / 0.3);
          }
        }
      }
    }
  }
</style>
