<span>
  <slot />
</span>
<style>
  span {
    padding: 1px 10px;
    font-size: 14px;
    border-radius: 30px;
    background-color: #85858563;
    /* border: 1px solid rgb(115 115 115); */
  }
</style>
